//Global
$font-name: 'Nunito';
$transition: 300ms;

// Colors
$primary: rgba(83, 156, 142, 0.57);
$secondary: rgba(244, 175, 0, 0.77);
$third: #9d2bf9;
$thirdHoover: #cbac00;
$danger: #D0006E;
$dangerHover: #9C2765;